<h1>Eatizy</h1>
    <div class=" w3l-login-form">
        <h2>Sign In Here</h2>
        <form action="#" method="POST">

                <div class="btn white darken-4 col s10 m4">
                        <button class="loginBtn loginBtn--facebook">
                                Login with Facebook
                              </button>
                   </div>
            <div class=" w3l-form-group">
                    <button class="loginBtn loginBtn--google">
                            Login with Google
                          </button>
            </div>
            
            <div class=" w3l-form-group">
                    <button class="loginBtn loginBtn--mail">
                            Sign up with Email
                          </button>
            </div>
        </form>
        <p class=" w3l-register-p">Already registered?<a href="#" class="register"> Login</a></p>

        <button type="submit">See Menu</button>
    </div>
    <footer>
       
    </footer>

